In [1]:
import pandas as pd
import os

'C:\\Users\\bschi\\19-20\\CSIS 469\\py-scripts'

In [2]:
pd.read_csv("../data/ethanolPrices/ethanolFuturesHistoricalData.csv")

              Date  Price   Open   High    Low   Vol. Change %
0     Jan 23, 2020  1.336  1.306  1.340  1.306  0.02K    0.83%
1     Jan 22, 2020  1.325  1.336  1.336  1.322  0.04K   -1.19%
2     Jan 21, 2020  1.341  1.359  1.377  1.338  0.12K   -0.59%
3     Jan 17, 2020  1.349  1.305  1.359  1.305  0.16K    3.85%
4     Jan 16, 2020  1.299  1.325  1.331  1.295  0.10K   -2.55%
...            ...    ...    ...    ...    ...    ...      ...
3717  Apr 18, 2005  1.170  1.170  1.170  1.170      -    0.00%
3718  Apr 15, 2005  1.170  1.170  1.170  1.170      -    0.00%
3719  Apr 14, 2005  1.170  1.170  1.170  1.170      -    0.00%
3720  Apr 13, 2005  1.170  1.170  1.170  1.170      -    0.00%
3721  Apr 12, 2005  1.170  1.170  1.170  1.170      -    0.00%

[3722 rows x 7 columns]